@font-face {
    font-family: 'New Spirit';
    src: url('../fonts/NewSpirit/NewSpirit-Regular.woff2') format('woff2'),
        url('../fonts/NewSpirit/NewSpirit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'New Spirit';
    src: url('../fonts/NewSpirit/NewSpirit-Medium.woff2') format('woff2'),
        url('../fonts/NewSpirit/NewSpirit-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'New Spirit';
    src: url('../fonts/NewSpirit/NewSpirit-SemiBold.woff2') format('woff2'),
        url('../fonts/NewSpirit/NewSpirit-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'New Spirit';
    src: url('../fonts/NewSpirit/NewSpirit-Bold.woff2') format('woff2'),
        url('../fonts/NewSpirit/NewSpirit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Medium.woff2') format('woff2'),
        url('../fonts/Inter/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Bold.woff2') format('woff2'),
        url('../fonts/Inter/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --body-background: #ECEBEB;
    --sidebar-background: #333333;
    --text-color: #333333;
    --black: #000;
    --white: #fff;
    --accent-color: #A5D541;
    --delete-color: #ED5E68;
    --heading-font: 'New Spirit', sans-serif;
    --body-font: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none !important;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: var(--body-background);
    font-family: var(--body-font);
}

button {
    font-family: var(--body-font);
}

figure {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 600;
}

input,
textarea,
select {
    outline: none;
    box-shadow: none;
    background-color: var(--white);
    font-family: var(--body-font);
}

input::placeholder,
textarea::placeholder {
    color: #AEAEAE;
}

.btn {
    font-weight: 500;
    min-width: 120px;
    text-align: center;
    border: none;
    display: inline-block;
    padding: 14px 25px;
    cursor: pointer;
    border-radius: 40px;
    background-color: var(--text-color);
    color: var(--white);
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: var(--accent-color);
}

.text-center {
    text-align: center;
}

.unstyled-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat-sidebar {
    background-color: var(--sidebar-background);
}

.chat-sidebar__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-section {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
}

.chat-sidebar__header {
    padding: 25px 20px;
}

.logo-wrapper {
    max-width: 180px;
    display: inline-block;
}

.chat-sidebar__footer {
    padding: 25px 20px;
}

.chat-sidebar__footer-links-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.chat-sidebar__footer-link {
    display: inline-flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    color: var(--white);
}

.site-header {
    padding: 25px 40px;
}

.site-nav__list {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
}

.site-nav__list-item-link {
    font-weight: 500;
}

.site-nav__list-item-button {
    background-color: var(--text-color);
    color: var(--white);
}

.chat-side__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chatbox-wrapper {
    padding: 15px 30px 25px;
    display: grid;
    grid-template-columns: 1fr 340px;
    gap: 30px;
    height: 100%;
}

.main-chatbox__heading {
    font-size: 36px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--accent-color);
}

.main-chatbox__heading span {
    color: var(--accent-color);
}

.main-chatbox__footer {
    background-color: var(--body-background);
    /* position: sticky;
    bottom: 0;
    left: 0; */
    /* padding: 20px 0; */
}

.field-submit-button {
    background-color: var(--accent-color);
    color: var(--white);
    padding: 8px 18px;
    min-width: initial;
    position: absolute;
    right: 12px;
}

.field-submit-button:hover {
    background-color: var(--text-color);
}

.field-input {
    border: none;
    padding: 15px 20px;
    border-radius: 40px;
    width: 100%;
}

.chat-input {
    min-height: 64px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.06);
    font-size: 18px;
    padding: 15px 90px 15px 25px;
}

.field-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.chatbox {
    margin: 20px 0;
    height: calc(100vh - 360px);
    overflow: auto;
    padding-right: 8px;
}

.chatbox::-webkit-scrollbar {
    width: 8px;
}

.chatbox::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.chatbox::-webkit-scrollbar-thumb {
    background: rgba(51, 51, 51, 0.6);
    border-radius: 15px;
}

.chatbox::-webkit-scrollbar-thumb:hover {
    background: rgba(51, 51, 51, 0.8);
}

.chat-message {
    padding: 15px 20px;
    border-radius: 25px 15px 0 25px;
    width: fit-content;
    color: var(--white);
    margin-bottom: 15px;
}

.chat-message:last-child {
    margin-bottom: 0;
}

.user-message {
    background-color: var(--text-color);
    text-align: right;
    margin-left: auto;
}

.bot-message {
    border-radius: 15px 25px 25px 0;
    background-color: rgba(51, 51, 51, 0.6);
    margin-right: auto;
}

.chat-list__wrapper {
    background-color: var(--white);
    border-radius: 15px;
    padding: 18px 20px;
}

.chat-list__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.chat-list__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 1px solid #CCCCCC;
}

.new-chat__button {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.new-chat__button:hover {
    color: var(--accent-color);
}

.field-submit-button svg,
.new-chat__button svg {
    display: block;
    pointer-events: none;
}

.chat-delete-button {
    background-color: var(--delete-color);
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    width: 100%;
}

.chat-delete-button:hover {
    background-color: var(--text-color);
}

.chat-list {
    padding: 5px 0;
    height: 100%;
    overflow: auto;
}

.chat-list__item {
    padding: 14px 0;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-list__item-buttons {
    display: flex;
    align-items: center;
    gap: 6px;
}

.chat-list__item-button {
    cursor: pointer;
}

.chat-list__item-button svg {
    display: block;
    width: 18px;
    height: 18px;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

.chat-list__item-edit:hover {
    color: var(--accent-color);
}

.chat-list__item-delete:hover {
    color: var(--delete-color);
}

.mobile-nav {
    display: none;
}

.mobile-menu__trigger svg {
    pointer-events: none;
}

.mobile-menu__trigger-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    display: none;
}

.mobile-menu__trigger-wrapper .logo-wrapper {
    max-width: 140px;
}

.mobile-menu__trigger-wrapper .logo-wrapper img {
    filter: brightness(0);
}

.page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 8;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.page-overlay__visible {
    visibility: visible;
    opacity: 1;
}

.mobile-menu__trigger {
    background-color: #ecebeb;
    width: 42px;
    height: 42px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

@media screen and (max-width: 1024px) {
    .mobile-menu__trigger-wrapper {
        display: flex;
    }

    .site-header {
        padding: 20px 30px;
        background-color: #fff;
    }

    .chatbox-wrapper {
        padding: 25px 30px;
    }

    .chat-section {
        display: block;
    }

    .logo-wrapper {
        max-width: 160px;
    }

    .chat-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 300px;
        height: 100%;
        z-index: 9;
        visibility: hidden;
        transform: translateX(-100%);
        transition: all 0.3s ease-in-out;
    }

    .chat-sidebar__visible {
        visibility: visible;
        transform: translateX(0);
    }

    .desktop-nav {
        display: none;
    }

    .chat-sidebar__body.mobile-nav {
        display: block;
        height: 100%;
        padding: 0 20px;
    }

    .site-nav__list {
        flex-direction: column;
        align-items: start;
        gap: 15px;
    }

    .site-nav__list-item-link {
        display: inline-block;
        color: var(--white);
        padding: 3px 0;
        min-width: auto;
    }

    .chatbox-wrapper {
        grid-template-columns: 1.5fr 1fr;
    }

    .chat-list__item {
        padding: 10px 0;
    }
}

@media screen and (max-width: 797px) {
    .chatbox-wrapper {
        grid-template-columns: 1fr;
    }

    .site-header {
        padding: 20px;
    }

    .chatbox-wrapper {
        padding: 30px 20px 30px;
    }

    .main-chatbox__heading {
        font-size: 28px;
        padding-bottom: 12px;
    }

    .chat-list {
        min-height: 300px;
    }

    .chat-message {
        padding: 10px 15px;
    }
}